  .background {
    background-image: url("Singapore-map.jpg");
    background-repeat: no-repeat;
    border:  4px solid black;
    opacity: 0.4;
  }
  
  .transbox {
    margin: 5%;
    background-color: #fde3fa;
    border: 1px solid black;
    opacity: 0.7;
  }
  
  .transbox p {
    margin: 15%;
    font-weight: bold;
    color: #0a0a0a;
  }